<div class="jumbotron">
  <h1 class="display-4">Seja bem vindo!</h1>
  <p class="lead">Este é o Crypto Wallet para acompanhar suas moedas.</p>
  <hr class="my-4">
  <p>Selecione as opções abaixo</p>
  <%= render 'menu' %>
</div>




<p>Ola <%= @meu_nome %></p>

<p>
    Seu curso é: <%= @curso %>
</p>

<p>Data: <%= l(Date.today)%></p>

<p>Data I18n Internacionalizada: <%= Date.today%></p>

<p>Idioma do sistema é: <strong> <%= t('actual_locale') %> </strong></p>