<h1>Seja bem vindo</h1>

<%= render 'menu' %>

<p>Ola <%= @meu_nome %></p>

<p>
    Seu curso é: <%= @curso %>
</p>

<p>Data: <%= data_br(Date.today)%></p>

<p>Data I18n Internacionalizada: <%= Date.today%></p>

<p>Idioma do sistema é: <strong> <%= locale %> </strong></p>