<p>
    <%= link_to 'Português', root_path(locale: 'pt-BR') %>
</p>
<p>
    <%= link_to 'English', root_path(locale: 'en') %>
</p>

<h1>Seja bem vindo</h1>

<%= render 'menu' %>

<p>Ola <%= @meu_nome %></p>

<p>
    Seu curso é: <%= @curso %>
</p>

<p>Data: <%= l(Date.today)%></p>

<p>Data I18n Internacionalizada: <%= Date.today%></p>

<p>Idioma do sistema é: <strong> <%= t('actual_locale') %> </strong></p>