<!DOCTYPE html>
<html>
  <head>
    <title>CrypoWallet - Ruby on Rails 5.X</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>CABECALHO</h1>
    <%= yield %>
    <h1>RODAPE</h1>
  </body>
</html>
